*{
    margin: 0;
    padding: 0;
}
.kayit_ol{
    width: 100%;
    height: 600%;
    background-color:dimgrey;
}
.kutu{
    width: 550px;
    height: 430px;
    background-color: blue;
}